
.canvas { position: absolute; width: 100vw; height: 100vh; z-index: -1; transition: left 0.5s; }
.android .canvas { height: calc(100vh - 55px); }
.ios .canvas { height: calc(100vh - 5px); }

.set-item {position: absolute; z-index: 1; left: 20px; cursor: pointer; width: 70px; height: 70px; border-radius: 50%; box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 20%); display: flex; justify-content: center; align-items: center; transition: all 0.3s;}
.set-item:hover {box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 40%);}
.set-item .circle {width: 50px; height: 50px; border-radius: 50%; border: 5px solid #108CCA; display: flex; align-items: center; justify-content: center;}
.set-item .circle img {max-width: 30px; max-height: 30px;}
.set-item.set-back {top: 50px;}
.set-item.set-rotate {bottom: 150px;}
.set-item.set-light {bottom: 50px;}

.set-item.set-rotate .circle img {border-radius: 50%; border: 1px solid #108CCA; padding: 4px;}
.set-item.set-rotate.rotate {animation-name: wheelRotate; animation-duration: 5s; animation-iteration-count: infinite; animation-timing-function: linear;}
@keyframes wheelRotate {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

/* .setting-wrapper .set-item .set-color {width: 50px; height: 35px; margin-right: 10px; cursor: pointer;border: 1px solid; transition:  all 0.2s;}
.setting-wrapper .set-item .set-label {flex: 1; cursor: pointer; font-size: 22px; font-weight: 700;}
.setting-wrapper .set-item:hover .set-color {transform: scale(1.1);}

.setting-wrapper .set-item.active {border-color: #4BBCDE;} */